block variables

include ../mock/data
include ../components/components

doctype html
html.page(class= pageClass lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='preload' href='fonts/inter-v13-cyrillic-latin-latinext-400.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='fonts/inter-v13-cyrillic-latin-latinext-500.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')
    link(rel='stylesheet' href='vendor/simplebar/simplebar.min.css')
    link(rel='stylesheet' href='css/style.min.css')
    link(rel='icon' href='favicon.ico')
    link(rel='icon' href='img/favicons/favicon.svg' type='image/svg+xml')
    link(rel='apple-touch-icon' href='img/favicons/favicon-180.png')
    link(rel='manifest' href='manifest.webmanifest')
    script(src='https://api-maps.yandex.ru/v3/?apikey=e6c045b8-c60b-415c-82d4-b4adf6e237da&lang=ru_RU')
    title= title
    meta(name='description' content='«Truckstar» — Грузовая разборка тягачей из Европы, таких как: Daf, Iveco, MAN, Mercedes-Benz, Scania, Renault, Volvo.')
    meta(name='keywords' content='Truckstar, разборка тягачей, новые детали тягачей, б/у детали тягачей, поставка деталей тягачей.')
  body.page__body
    +site-header(class=`page__site-header ${pageClass === 'index-page' && 'site-header--transparent'}`)
    main.page__content
      block content
    +site-footer(class='page__site-footer')
    block modals
      +modal(class='modal--position_center modal--with_form' data-modal='callback-form')
        +callback-modal-form(class='modal__form')
      +modal(class='modal--position_right modal--with_document' data-modal='policy')
        +policy-document(class='modal__document')
    script(src='vendor/swiper/swiper-bundle.min.js')
    script(src='vendor/simplebar/simplebar.min.js')
    script(src='vendor/pristine/pristine.min.js')
    script(src='js/script.js')
    script(src='js/demo.js')
