mixin advantages-list
  .advantages-list&attributes(attributes)
    ul.advantages-list__items
      li.advantages-list__item
        h2.advantages-list__heading Доставка по всей территории России и&nbsp;СНГ
        p.advantages-list__text Компания по продаже новых и б/у запчастей, с доставкой по всей территории России и стран СНГ.
        .advantages-list__icon
          img.advantages-list__icon-image(src='img/icons.svg#advantages_delivery' width='32' height='32' alt='' aria-hidden='true')
      li.advantages-list__item
        h2.advantages-list__heading Профессиональные менеджеры
        p.advantages-list__text Ежедневно обрабатывающие более тысячи звонков и сообщений, качественно подбирая интересующую клиента запчасть.
        .advantages-list__icon
          img.advantages-list__icon-image(src='img/icons.svg#advantages_professional' width='32' height='32' alt='' aria-hidden='true')
      li.advantages-list__item
        h2.advantages-list__heading Отдел Контроля качества
        p.advantages-list__text Мы постоянно работаем над улучшением уровня предоставления услуг.
        .advantages-list__icon
          img.advantages-list__icon-image(src='img/icons.svg#advantages_quality' width='32' height='32' alt='' aria-hidden='true')
