mixin cart-form
  form.cart-form(action='https://echo.htmlacademy.ru' method='post' target='_blank')&attributes(attributes)
    .cart-form__main
      fieldset.cart-form__section.cart-form__section--products
        legend.visually-hidden Товары
        ul.cart-form__products-list
          li.cart-form__products-item
            +cart-item({ product: products[0] })
          li.cart-form__products-item
            +cart-item({ product: products[1] })
      .cart-form__navigation-wrapper
        +page-navigation({
          links: [
            {
              text: 'Способы оплаты',
              href: '#!'
            },
            {
              text: 'Доставка и сборка',
              href: '#!'
            },
            {
              text: 'О гарантии',
              href: '#!'
            },
          ]
        })
      fieldset.cart-form__section.cart-form__section--receiving-method
        legend.cart-form__section-heading Телефон
      fieldset.cart-form__section.cart-form__section--receiving-method
        legend.cart-form__section-heading Способ доставки
        .card-form__section-checker-cards-wrapper
          +checker-cards
    .cart-form__footer
      .cart-form__footer-total
        p.cart-form__footer-total-count Итого 2 товара
        p.cart-form__footer-total-price 12 000 ₽
        +button({
          tag: 'button',
          type: 'submit',
          text: 'Оформить заказ',
        })(class='cart-form__footer-submit-button button--primary-alter button--right button--size_l')
        small.cart-form__footer-comment Нажимая на кнопку «Оформить заказ», вы даете #[a.cart-form__footer-comment-link(href='#!' target='_blank') согласие на обработку персональных данных]
      .cart-form__footer-navigation-wrapper
        +page-navigation({
          links: [
            {
              text: 'Способы оплаты',
              href: '#!'
            },
            {
              text: 'Доставка и сборка',
              href: '#!'
            },
            {
              text: 'О гарантии',
              href: '#!'
            },
          ]
        })
