mixin cart-form
  form.cart-form(action='https://fakestoreapi.com/products' method='post' target='_blank')&attributes(attributes)
    .cart-form__main
      fieldset.cart-form__section.cart-form__section--products
        legend.visually-hidden Товары
        ul.cart-form__products-list
          li.cart-form__products-item
            +cart-item({ product: products[0] })
          li.cart-form__products-item
            +cart-item({ product: products[1] })
      .cart-form__navigation-wrapper
        +page-navigation({
          links: [
            {
              text: 'Способы оплаты',
              href: '#',
              modal: 'payment'
            },
            {
              text: 'Доставка и сборка',
              href: '#',
              modal: 'delivery'
            },
            {
              text: 'О гарантии',
              href: '#',
              modal: 'guarantee'
            },
          ]
        })
      fieldset.cart-form__section
        legend.cart-form__section-heading Телефон
        .cart-form__section-inner
          +text-field({
            name: 'phone',
            type: 'tel',
            placeholder: 'Телефон',
            required: true,
            hidableClearButton: true,
          })(class='cart-form__field cart-form__field--wide text-field--alter text-field--empty')
      fieldset.cart-form__section(data-receiving-method-section)
        legend.cart-form__section-heading Способ доставки
        .card-form__section-checker-cards-wrapper
          +checker-cards
      fieldset.cart-form__section(data-delivery-section)
        legend.cart-form__section-heading Данные для доставки
        .cart-form__section-inner
          +text-field({
            name: 'surname',
            type: 'text',
            placeholder: 'Фамилия',
            required: true,
            hidableClearButton: true,
          })(class='cart-form__field text-field--alter text-field--empty')
          +text-field({
            name: 'name',
            type: 'text',
            placeholder: 'Имя',
            required: true,
            hidableClearButton: true,
          })(class='cart-form__field text-field--alter text-field--empty')
          +dropdown({
            name: 'company',
            label: 'Выберите транспортную компанию',
            options: [
              {
                text: 'ТК «Нижний Новгород»',
                value: 'transport-company-nizhny-novgorod'
              },
              {
                text: 'ЛТК-НН',
                value: 'ltk-nn',
              },
              {
                text: 'Деловые линии',
                value: 'delovyye-linii'
              },
            ]
          })(class='dropdown--big')
          +text-field({
            name: 'address',
            type: 'text',
            placeholder: 'Адрес',
            required: true,
            hidableClearButton: true,
          })(class='cart-form__field text-field--alter text-field--empty')
      fieldset.cart-form__section
        legend.cart-form__section-heading Комментарий
        .cart-form__section-inner
          +text-area({
            name: 'comment',
            placeholder: 'Напишите комментарий',
          })(class='cart-form__field cart-form__field--wide text-area--empty')
    .cart-form__footer
      .cart-form__footer-inner
        .cart-form__footer-total
          p.cart-form__footer-total-count Итого 2 товара
          p.cart-form__footer-total-price 12 000 ₽
          +button({
            tag: 'button',
            type: 'submit',
            text: 'Оформить заказ',
          })(class='cart-form__footer-submit-button button--primary-alter button--right button--size_l' data-submit-button)
          small.cart-form__footer-comment Нажимая на кнопку «Оформить заказ», вы даете #[a.cart-form__footer-comment-link(href='#!' target='_blank') согласие на обработку персональных данных]
        .cart-form__footer-navigation-wrapper
          +page-navigation({
            links: [
              {
                text: 'Способы оплаты',
                href: '#',
                modal: 'payment'
              },
              {
                text: 'Доставка и сборка',
                href: '#',
                modal: 'delivery'
              },
              {
                text: 'О гарантии',
                href: '#',
                modal: 'guarantee'
              },
            ]
          })
