mixin catalog-shortcuts
  .catalog-shortcuts&attributes(attributes)
    ul.catalog-shortcuts__list
      li.catalog-shortcuts__item
        a.catalog-shortcuts__link(href='#!') Блок цилиндров и комплектующие
      li.catalog-shortcuts__item
        a.catalog-shortcuts__link.catalog-shortcuts__link--active Выпускной коллектор
      li.catalog-shortcuts__item
        a.catalog-shortcuts__link(href='#!') Головка блока цилиндров
      li.catalog-shortcuts__item
        a.catalog-shortcuts__link(href='#!') Дополнительный мост
      li.catalog-shortcuts__item
        a.catalog-shortcuts__link(href='#!') Редутор в сборе
      li.catalog-shortcuts__item
        a.catalog-shortcuts__link(href='#!') Ремо комплект
      li.catalog-shortcuts__item
        a.catalog-shortcuts__link(href='#!') Прочие кузовные работы
