mixin collections({ collections, navigationCurrentIndex })
  .collections
    .container
      .collections__inner
        h1.collections__heading.heading.heading--size_l Все разборки
        +variants({
          links: [
            {
              text: 'Все',
              active: true
            },
            {
              text: 'Man',
            },
            {
              text: 'Mercedes-Benz',
            },
            {
              text: 'Scania',
            },
            {
              text: 'Renault',
            },
            {
              text: 'Daf',
            },
            {
              text: 'КАМАЗ',
            },
            {
              text: 'Lada',
            },
            {
              text: 'Iveco',
            },
            {
              text: 'ЗИЛ',
            },
            {
              text: 'MAZ',
            },
            {
              text: 'Chevrolet',
            },
          ]
        })
        if collections
          .collections__list-wrapper
            +collections-list({
              card: {
                headingTag: 'h2',
              },
              pagination: true,
              collections: collections.concat(collections)
            })
        else
          .collections__placeholder-wrapper
            +placeholder-mini({ text: 'Ничего не найдено'})
