mixin contacts-modal-map
  section.contacts-modal-map&attributes(attributes)
    h2.contacts-modal-map__heading Самовывоз со склада
      +contacts-maps({
        link1: 'sdf4',
        link2: 'sdf'
      })
