mixin delivery-document
  article.document.document--alter&attributes(attributes)
    header
      h1 Доставка и сборка
    .document__content-wrapper
      .document__content
        p Отправляем транспортными компаниями: СДЭК, ПЭК, Деловые Линии, Энергия, КИТ, DPD.
        p Осуществляем доставку своим транспортном по области и регионам. Стоимость доставки зависит от габаритов и массы груза, а также от выбранной транспортной компании, и уточняется до оформления заказа.
        p Мы сами упаковываем все отправляемые запчасти и несем за это ответственность. Поэтому ситуация, когда груз повреждается при перевозке, практически исключена.
        p Вы всегда сами можете забрать купленные запчасти с нашего склада по адресам: #[a(href='https://yandex.ru/maps/-/CDWHyN3S'  target='_blank' rel='nofollow noopener') Нижегородская область, городской округ Дзержинск, посёлок Гнилицкие Дворики, 17с1] и #[a(href='https://yandex.ru/maps/-/CDWHyPpo'  target='_blank' rel='nofollow noopener') Рязань, ул. Новоселковская, д. 11].
