mixin developer
  .developer&attributes(attributes)
    a.developer__link(href='https://omniagency.ru' target='_blank' rel='nofollow noopener')
      img.developer__logo(src='img/developer.svg' width='28' height='20' alt='Логотип OMNI.')
      span.developer__text OMNI
