mixin faq-list
  .faq-list&attributes(attributes)
    ul.faq-list__items.folds
      li.faq-list__item.folds__item.folds__item--open
        header.folds__item-header
          .folds__item-header-inner
            h3.faq-list__item-heading
              button.folds__button(type='button' aria-expanded='true') Есть ли гарантия на ваши запчасти?
        .folds__item-content-wrapper
          .folds__item-content
            .faq-list__item-content
              .raw-content
                p Гарантия на весь товар предоставляется в течение 14 дней, с момента покупки или получения в транспортной компании.#[br] За это время необходимо установить запчасть и проверить её на работоспособность. В случае, если запчасть подобрана неверно или окажется неисправной, продавец осуществляет замену на товар, аналогичный купленному (если он имеется в наличии) либо частично компенсирует стоимость ремонта запчасти. Если аналогичной запчасти нет и запчасть не поддается ремонту, продавец возвращает денежные средства, равной сумме приобретенной самой запчасти, по тому виду оплаты, по которому она была произведена.
                a(href='#') Подробнее
      each number in [1, 2, 3]
        li.faq-list__item.folds__item
          header.folds__item-header
            .folds__item-header-inner
              h3.faq-list__item-heading
                button.folds__button(type='button') Как доставляется товар?
          .folds__item-content-wrapper
            .folds__item-content
              .faq-list__item-content
                .raw-content
                  p Гарантия на весь товар предоставляется в течение 14 дней, с момента покупки или получения в транспортной компании.#[br] За это время необходимо установить запчасть и проверить её на работоспособность. В случае, если запчасть подобрана неверно или окажется неисправной, продавец осуществляет замену на товар, аналогичный купленному (если он имеется в наличии) либо частично компенсирует стоимость ремонта запчасти. Если аналогичной запчасти нет и запчасть не поддается ремонту, продавец возвращает денежные средства, равной сумме приобретенной самой запчасти, по тому виду оплаты, по которому она была произведена.
                  a(href='#') Подробнее
