mixin faq-list({ folds, alter })
  .faq-list(class= alter && 'faq-list--alter')&attributes(attributes)
    ul.faq-list__items.folds(class= alter && 'folds--alter')
      each fold in folds
        li.faq-list__item.folds__item(class= fold.open && 'folds__item--open' id= fold.id)
          header.folds__item-header
            .folds__item-header-inner
              h3.faq-list__item-heading
                button.folds__button(type='button' aria-expanded= fold.open && 'true')= fold.heading
          .folds__item-content-wrapper
            .folds__item-content
              .faq-list__item-content
                .raw-content
                  p Гарантия на весь товар предоставляется в течение 14 дней, с момента покупки или получения в транспортной компании.#[br] За это время необходимо установить запчасть и проверить её на работоспособность. В случае, если запчасть подобрана неверно или окажется неисправной, продавец осуществляет замену на товар, аналогичный купленному (если он имеется в наличии) либо частично компенсирует стоимость ремонта запчасти. Если аналогичной запчасти нет и запчасть не поддается ремонту, продавец возвращает денежные средства, равной сумме приобретенной самой запчасти, по тому виду оплаты, по которому она была произведена.
                  a(href='#') Подробнее
