mixin favorites({ products })
  .favorites&attributes(attributes)
    .container
      .favorites__inner
        h1.favorites__heading.heading.heading--size_l Избранное
        +products-list({ products })
