mixin images-field
  .images-field&attributes(attributes)
    label.images-field__field
      span.images-field__button
      span.images-field__label
        span.images-field__label Добавить фото запчасти
        span.images-field__label-comment Допустимые форматы для загрузки: PNG, JPEG
      input.images-field__control.visually-hidden(type='file' multiple accept='image/png, image/jpg, image/jpeg')
    ul.images-field__list
