mixin image-button({tag, text, type, href, target, rel, opener})
  #{tag}.image-button(type= type href= href target= target rel= rel data-modal-opener= opener)&attributes(attributes)
    span.visually-hidden= text
