mixin info
  section.info&attributes(attributes)
    .container
      .info__inner
        h1.visually-hidden Информация для клиента
        section.info__section
          h2.info__section-heading Оплата
          .info__section-content-wrapper
            .info__section-content
              .raw-content-2
                p Оплата любым для Вас удобным способом: Наличными при самовывозе, Безналичной оплатой по счёту без НДС, Переводом на карту по номеру карты, Через банковский терминал и через QR-код.
        section.info__section
          h2.info__section-heading Доставка
          .info__section-content-wrapper
            .info__section-content
              .raw-content-2
                p Отправляем транспортными компаниями: СДЭК, ПЭК, Деловые Линии, Энергия, КИТ, DPD.
                p Осуществляем доставку своим транспортном по области и регионам. Стоимость доставки зависит от габаритов и массы груза, а также от выбранной транспортной компании, и уточняется до оформления заказа.
                p Мы сами упаковываем все отправляемые запчасти и несем за это ответственность. Поэтому ситуация, когда груз повреждается при перевозке, практически исключена.
                p Вы всегда сами можете забрать купленные запчасти с нашего склада по адресам: #[b Нижегородская область, городской округ Дзержинск, посёлок Гнилицкие Дворики, 17с1 и Рязань, ул. Новоселковская, д. 11].
        section.info__section
          h2.info__section-heading Гарантия
          .info__section-content-wrapper
            .info__section-content
              .raw-content-2
                p Гарантия на весь товар предоставляется в течение 14 дней, с момента покупки или получения в транспортной компании.
                p За это время необходимо установить запчасть и проверить её на работоспособность. В случае, если запчасть подобрана неверно или окажется неисправной, продавец осуществляет замену на товар, аналогичный купленному (если он имеется в наличии) либо частично компенсирует стоимость ремонта запчасти. Если аналогичной запчасти нет и запчасть не поддается ремонту, продавец возвращает денежные средства, равной сумме приобретенной самой запчасти, по тому виду оплаты, по которому она была произведена.
                strong Вскрытие и смещение, а также разбор той или иной купленной запчасти/части, замена деталей и внесение изменений в конструкцию, на которой нанесены гарантийные отметки строго запрещено!
                p Покупатель обязан прислать фотографии и видео дефекта данной запчасти с гарантийными метками, и в письменном виде согласовать все дополнительные и последующие действия с товаром, предупредив заранее продавца.
                p Возврат осуществляется при наличии заказ-наряда СТО с печатью, подтверждающего неисправность запчасти, данного товарного чека подписанного покупателем, сотрудником и имеющего печать компании.
                p Все расходы транспортной компании, при отправке товара и в случае его возврата - несет покупатель.
                strong При несоблюдение вышеперечисленных гарантийных условий, гарантия на товар не распространяется.
        section.info__section
          h2.info__section-heading Вопрос-ответ
          .info__section-content-wrapper
            +faq-list
        section.info__section
          h2.info__section-heading Обмен и возврат
          .info__section-content-wrapper
            .info__section-content
              .raw-content-2
                p Гарантия на весь товар предоставляется в течение 14 дней, с момента покупки или получения в транспортной компании.
                p За это время необходимо установить запчасть и проверить её на работоспособность. В случае, если запчасть подобрана неверно или окажется неисправной, продавец осуществляет замену на товар, аналогичный купленному (если он имеется в наличии) либо частично компенсирует стоимость ремонта запчасти. Если аналогичной запчасти нет и запчасть не поддается ремонту, продавец возвращает денежные средства, равной сумме приобретенной самой запчасти, по тому виду оплаты, по которому она была произведена.
                strong Вскрытие и смещение, а также разбор той или иной купленной запчасти/части, замена деталей и внесение изменений в конструкцию, на которой нанесены гарантийные отметки строго запрещено!
                p Покупатель обязан прислать фотографии и видео дефекта данной запчасти с гарантийными метками, и в письменном виде согласовать все дополнительные и последующие действия с товаром, предупредив заранее продавца.
                p Возврат осуществляется при наличии заказ-наряда СТО с печатью, подтверждающего неисправность запчасти, данного товарного чека подписанного покупателем, сотрудником и имеющего печать компании.
                p Все расходы транспортной компании, при отправке товара и в случае его возврата - несет покупатель.
                strong При несоблюдение вышеперечисленных гарантийных условий, гарантия на товар не распространяется.
