mixin map-marker-template(isBig)
  template#map-marker-template
    .map-marker(class= isBig ? 'map-marker--big' : '')
      img.map-marker__image(src='img/map-marker.svg' width='151' height='78' alt='Маркер на карте: Н.Новгород, Варварская улица, 7')
