mixin modal({ backButton } = {})
  dialog.modal&attributes(attributes)
    .modal__inner
      if backButton
        button.modal__button.modal__button--back.modal__button--hidden(type='button')
          span.visually-hidden Назад
      button.modal__button.modal__button--close(type='button' data-modal-close-button)
        span.visually-hidden Закрыть
      block
