mixin orders({ orders })
  .orders&attributes(attributes)
    .container
      .orders__inner
        .orders__heading-wrapper
          +main-heading({
            text: 'Мои заказы',
            number: reviews ? 5 : 0
          })
        .orders__navigation-wrapper
          +items-navigation({
            links: ['Текущие', 'Архив', 'Все']
          })
        if orders
          .orders__list-wrapper
            +orders-list
        else
          .orders__placeholder-wrapper
            +placeholder-mini({
              text: 'Ничего не найдено',
              button: {
                text: 'В каталог',
                href: 'categories.html'
              }
            })
