mixin pagination
  .pagination&attributes(attributes)
    ol.pagination__list&attributes(attributes)
      li.pagination__item
        a.pagination__link.pagination__link--prev
          span.visually-hidden Назад
      li.pagination__item
        a.pagination__link.pagination__link--current 01
      li.pagination__item
        a.pagination__link(href='#!') 02
      li.pagination__item
        a.pagination__link(href='#!') 03
      li.pagination__item
        a.pagination__link(href='#!') 04
      li.pagination__item
        span.pagination__link ...
      li.pagination__item
        a.pagination__link(href='#!') 11
      li.pagination__item
        a.pagination__link.pagination__link--next(href='#!')
          span.visually-hidden Вперёд
