mixin phone-numbers
  .phone-numbers&attributes(attributes)
    .phone-numbers__text Вы можете сэкономить время, позвонив нам прямо сейчас:
    ul.phone-numbers__list
      li.phone-numbers__item
        a.phone-numbers__link(href='tel:+79875485078') +7 (987) 548-50-78 (Рязань)
      li.phone-numbers__item
        a.phone-numbers__link(href='tel:+79092964479') +7 (909) 296-44-79 (Рязань)
      li.phone-numbers__item
        a.phone-numbers__link(href='tel:+79965645029') +7 (996) 564-50-29 (Нижний Новгород)
      li.phone-numbers__item
        a.phone-numbers__link(href='tel:+79058692357') +7 (905) 869-23-57 (Нижний Новгород)
