mixin policy-document
  article.document.document--basic&attributes(attributes)
    header
      h1 Политика конфиденциальности
    .document__content-wrapper
      .document__content
        .document__content-inner
          h2 Пользователя сайта
          p Общество с Ограниченной Ответственностью «ВОРКТРАК», в лице директора, Ичина О.С., действующего на основании Устава, зарегистрированный в Едином Государственном Реестре Юридических Лиц под № 119527502801, именуемое в дальнейшем «Правообладатель» адресует настоящее Соглашение любому физическому или юридическому лицу (далее- Пользователь), который заключает настоящее Соглашение, в полном объеме и без возражений соглашаясь со всеми условиями, указанными в настоящем Соглашении.
          p Данный документ является публичной офертой по смыслу ст. 435 ГК РФ. Акцептом настоящей оферты признается совершение действий, предусмотренных Соглашением.
          p В случае несогласия Пользователя с условиями оферты в полной мере или частично, Соглашение не признается заключенным и Пользователь не имеет права на совершение действий, подразумевающих использование Объекта интеллектуальной собственности, принадлежащего Правообладателю.
          h2 1. Термины
          ol
            li 1.1.    В настоящем соглашении используются термины в следующих значениях:
            li 1.1.1. Акцепт- полное и безоговорочное принятие оферты путем совершения действий, указанных в п. 3.1. настоящего соглашения.
            li 1.1.2. Контент - любое информационно значимое наполнение ресурса, являющегося объектом настоящего Соглашения.
            li 1.1.3. Личный Кабинет- закрытая часть сайта, доступ к которой получает конкретный, индивидуально определенный Пользователь путем авторизации.
            li 1.1.4. Лицензия- право Пользователя использовать указанный Сайт с сохранением за Правообладателем на условиях простой (неисключительной) лицензии с сохранением за Правообладателем права выдачи лицензии другим лицам.
            li 1.1.5. Оферта- настоящий документ, размещенный в сети по адресу:#[br] #[a(href='https://toptruckstar.ru' target='_blank') https://toptruckstar.ru]
            li 1.1.6. Сайт- автоматизированная информационная система, доступная в сети Интернет по адресу:#[br] #[a(href='https://toptruckstar.ru' target='_blank') https://toptruckstar.ru]
            li 1.1.7. Учетная запись Пользователя- совокупность информационных данных о Пользователе, зафиксированная в цифровом формате и необходимая для опознавания Пользователя и предоставления доступа к его личным данным, настройкам и контенту.
          h2 2. Предмет соглашения
          ol
            li 2. Предмет соглашения
            li 2.1. Настоящее соглашение определяет порядок и использование сайта Правообладателя по адресу:#[br] #[a(href='https://toptruckstar.ru' target='_blank') https://toptruckstar.ru]
            li 2.2. Правообладатель гарантирует, что он является обладателем исключительных прав прав на Сайт, указанный в п. 2.1. настоящего Соглашения. Все исключительные права на Сайт принадлежат Правообладателю.
          h2 3. Принятие соглашения
          ol
            li 3.1. Соглашение является заключенным, если выполнена регистрация Пользователя.
            li 3.2. Правообладатель регистрирует Личный кабинет Пользователя на Сайте.
            li 3.3. В Личном Кабинете указывается вся информация, предоставленная пользователем при регистрации:
              ul
                li - Имя
                li - Номер телефона
            li 3.4. Совершая действия по принятию оферты, Пользователь подтверждает свое полное и безоговорочное согласие со всеми условиями данного Соглашения и обязуется их соблюдать. Соглашение может быть принято только в полном объеме. Принятие данной оферты с применением разногласий и оговорок не допускается, в соответствии с  п.1 ст. 428 ГК РФ.
            li 3.5. Настоящая оферта не имеет определенного срока принятия и может быть принята Пользователем в любой момент, начиная с момента ее опубликования.
            li 3.6. При изменении Правообладателем условий настоящей оферты, Пользователь может принять новые условия или отказаться от Соглашения в полном объеме.
            li 3.7. Условия оферты могут быть изменены Правообладателем в любой момент в одностороннем внесудебном порядке путем опубликования изменений или вновь изданной редакции Соглашения на сайте:#[br] #[a(href='https://toptruckstar.ru' target='_blank') https://toptruckstar.ru]
          h2 4. Права и обязанности сторон
          ol
            li 4.1. Обязанности Правообладателя:
            li 4.1.1. Правообладатель обязуется информировать Пользователей по вопросам работы с Сайтом с помощью способов связи, указанных Пользователем при регистрации
            li 4.1.2. Обеспечивать конфиденциальность и защиту информации о Пользователе.
            li 4.1.3. Консультировать Пользователя по всем вопросам, касающимся использования Сайта.
            li 4.2. Обязанности Пользователя:
            li 4.2.1. Использовать Сайт только в пределах тех прав и теми способами, которые предусмотрены Соглашением.
            li 4.2.2. Не использовать Сайт, как объект интеллектуальных прав каким либо способом, не разрешенным настоящим Соглашением.
              p В частности запрещается:
              ul
                li - Воспроизводить сайт, создавать копии сайта на любом материальном носителе, модифицировать, вносить изменения в Сайт или его части, использовать Сайт для создания производных программных продуктов; распространять Сайт любым способом; удалять, изменять знаки охраны авторских прав; пытаться обойти технические ограничения, установленные разработчиком; использовать Сайт любым способом, прямо не предусмотренным Соглашением; предпринимать действия по извлечению исходного кода сайта; использовать на Сайте автоматизированные системы (программы, боты, краулеры) для сбора информации на Сайте.
            li 4.2.3. Незамедлительно информировать Правообладателя обо всех, ставших ему известных фактах противоправного использования Сайта третьими лицами.
            li 4.2.4. Соблюдать имущественные и личные неимущественные права третьих лиц, включая авторские и смежные права, а так же иные права, права на использование изображений, видеоматериалов, аудиофайлов.
            li 4.2.5. Не распространять с помощью Сайта информацию, свободное распространение которой ограничено на территории РФ, распространять информацию, распространение которой запрещено на территории РФ.
            li 4.3. Правообладатель вправе:
            li 4.3.1. Удалить учетную запись Пользователя при обнаружении факта нарушения им Соглашения или совершения им любых противоправных действий.
            li 4.3.2. Собирать, хранить, обрабатывать информацию, не содержащую персональных сведений и не позволяющую идентифицировать пользователя, в целях распознавания предпочтений посетителей, пользующихся особой популярностью разделов Сайта.
            li 4.3.3. В случае нарушения Пользователем Соглашения, исключительных прав Правообладателя на Сайт, а равно в случае нарушения Пользователем прав третьих лиц с использованием Сайта, расторгнуть Соглашение, ограничить частично или в полном объеме доступ Пользователя к Сайту, а так же применить иные меры с целью обеспечения соблюдения законодательства и прав, а так же законных интересов третьих лиц.
            li 4.3.4. Удалять пользовательский контент по требованию уполномоченных органов или заинтересованных лиц в случае, если данный контент нарушает законодательство или права третьих лиц.
            li 4.3.5. В любой момент прекратить предоставление доступа к Сайту, а равно частично ограничить или прекратить работу некоторых функций или сервисов, в том числе, в целях проведения технических работ на сайте.
            li 4.4. Пользователь вправе:
            li 4.4.1. Использовать Сайт в пределах и способами, установленными настоящим Соглашением.
          h2 5. Условия лицензии пользователя
          ol
            li 5.1. Пользователю предоставляется Лицензия на использование Сайта в том объеме и порядке, который установлен настоящим Соглашением. Пользователь не обладает правом предоставления сублицензий в отношении исключительных прав Правообладателя.
            li 5.2. Лицензия предусматривает следующие способы использования Сайта:
            li 5.2.1. Реализация доступного функционала Сайта.
            li 5.2.2. Способ использования: Пользователю необходима авторизация на Сайте через Личный Кабинет Пользователя. В Личном Кабинете Пользователь может изучить ассортимент предлагаемых работ, услуг и товаров, оформить заказ, связаться с представителями компании для уточнения интересующих его вопросов, оставлять комментарии, обмениваться фото/видео/аудио- материалами.
            li 5.3. Никакие иные права Пользователю не предоставляются. В частности, Пользователь не вправе совершать переработку, модификацию, распространение и иные действия.
            li 5.4. В каждый момент времени Сайт предоставляется Пользователю в том виде и с тем функционалом, который предусмотрен разработчиком в текущий момент времени.
            li 5.5. Правообладатель не гарантирует Пользователю полное соответствие Сайта требованиям и предпочтениям Пользователя. Правообладатель допускает и предупреждает Потребителя о возможных нарушениях в работе Сайта, возникновении ошибок.
            li 5.6. Пользователь гарантирует, что обладает всеми необходимыми правами для осуществления каких-либо действий, осуществляемых при использовании Сайта, в том числе при прохождении авторизации, оформлении заказов и т.д. Пользователь самостоятельно несет ответственность за нарушения, допущенные им при использовании Сайта.
          h2 6. Обработка персональных данных
          ol
            li 6.1. Пользователь или его представитель обязаны до подписания Соглашения ознакомиться с документами, устанавливающими порядок обработки и защиты персональных данных, применяемых Правообладателем. Персональные данные обрабатываются Правообладателем при условии согласия субъекта данных на их предоставление и обработку, выраженное в принятии настоящего Соглашения.
            li 6.2. Правообладатель гарантирует конфиденциальность персональных данных Пользователя.
            li 6.3. Правообладатель обеспечивает надлежащий уровень защиты от несанкционированного доступа третьих лиц в Личный кабинет Пользователя.
          h2 7. Порядок использования персональных данных
          ol
            li 7.1. Правообладатель собирает, обрабатывает персональные данные Пользователей в целях обеспечения деятельности общества, являющегося собственником сайта#[br] #[a(href='https://toptruckstar.ru' target='_blank') https://toptruckstar.ru]
            li 7.2. Поскольку авторизация на сайт осуществляется Пользователем на основании собственного волеизъявления, Правообладатель полагает, что Пользователь заинтересован в товарах и услугах, отображаемых на Сайте.
            li 7.3. В целях удовлетворения интересов Потребителя, указанных в п. 7.2. настоящего Соглашения, Правообладатель может организовывать рекламные и информационные рассылки с использованием контактных данных, указанных Потребителем при регистрации.
          h2 8. Ответственность сторон
          ol
            li 8.1. Стороны несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств в соответствии с условиями Соглашения и законодательством Российской Федерации.
            li 8.2. Правообладатель не принимает на себя ответственность за несоответствие Сайта целям использования.
            li 8.3. Правообладатель не несет ответственности за технические перебои в работе Сайта. При этом, Правообладатель обязуется принимать все необходимые меры для предотвращения и своевременного устранения технических перебоев в работе Сайта.
            li 8.4. Правообладатель не гарантирует, что Сайт в полной мере будет соответствовать личным требованиям Потребителя. Вместе с тем, Правообладатель не гарантирует работоспособность Сайта при использовании его на устройствах, прямо не предназначенных для использования данного Сайта.
            li 8.5. Правообладатель не имеет технической и фактической возможности регулярно проверять информацию, размещаемую Пользователем на Сайте на предмет ее соответствия требованиям законодательства Российской Федерации и условиям Соглашения, поскольку такая проверка нарушает работоспособность Сайта. Правообладатель вправе предпринимать указанные действия по своему усмотрению и предпринимать действия, предусмотренные положениями настоящего Соглашения.
          h2 9. Разрешение споров
          ol
            li 9.1. Претензионный порядок для разрешения споров между Сторонами является обязательным.
            li 9.2. Претензии направляются сторонами путем направления сообщений через Личный кабинет, а так же иными способами, которые указываются Сторонами при заключении данного Соглашения путем авторизации.
            li 9.3. Срок рассмотрения претензий не превышает 10 (десять) рабочих дней со дня получения претензии адресатом.
            li 9.4. Споры по правоотношениям, установленным настоящим Соглашением, при невозможности решения их в претензионном порядке, разрешаются в судебном порядке. Подсудность спора определяется в соответствии со ст.28 ГПК РФ.
          h2 10. Заключительные положения
          ol
            li 10.1. Данное Соглашение соответствует требованиям законодательства Российской Федерации. При изменении состояния законодательства Российской Федерации, условия настоящего Соглашения могут быть изменены для сохранения соответствия его условий положениям законодательства Российской Федерации.
          h2 11.  Реквизиты сторон
          ul
            li Правообладатель: ООО "ВОРКТРАК", Адрес: 606104, Нижегородская область, Павловский район, г. Павлово,ул. Аллея Ильича д. 21 б, квартира 24, ИНН 5252044090, КПП 525201001, ОГРН: 1195275002801
            li Банковские реквизиты: р/с 40702810623000043360 в ПОВОЛЖСКИЙ ФИЛИАЛ АО "РАЙФФАЙЗЕНБАНК"
            li г. НИЖНИЙ НОВГОРОД, к/с 30101810300000000847, БИК 042202847
            li E-mail: #[a(href='mailto:truckstar_nn@mail.ru' target='_blank' rel='nofollow noopener') truckstar_nn@mail.ru].
