mixin request-form
  form.request-form(action='https://fakestoreapi.com/products' method='post' enctype='multipart/form-data' target='_blank')&attributes(attributes)
    +dropdown({
      name: 'brand',
      label: 'Выберите марку',
      options: [
        {
          text: 'Man',
          value: 'man',
          required: true,
        },
        {
          text: 'Mercedes-Benz',
          value: 'mercedes-benz',
          required: true
        },
        {
          text: 'Scania',
          value: 'scania',
          required: true
        },
        {
          text: 'КАМАЗ',
          value: 'kamaz',
          required: true
        },
        {
          text: 'Chevrolet',
          value: 'chevrolet',
          required: true
        },
      ]
    })(class='request-form__field dropdown--big')
    +dropdown({
      name: 'year',
      label: 'Год выпуска',
      options: [
        {
          text: '2007',
          value: '2007',
          required: true
        },
        {
          text: '2012',
          value: '2012',
          required: true
        },
        {
          text: '2017',
          value: '2017',
          required: true
        },
        {
          text: '2020',
          value: '2020',
          required: true
        },
      ]
    })(class='request-form__field dropdown--big')
    +text-field({
      name: 'phone',
      type: 'tel',
      placeholder: 'Телефон',
      required: true,
      hidableClearButton: true,
    })(class='request-form__field text-field--empty')
    +text-area({
      name: 'description',
      placeholder: 'Описание запчасти',
      required: true,
    })(class='request-form__field text-area--empty')
    +images-field(class='request-form__images-field')
    .request-form__footer
      +button({
        tag: 'button',
        type: 'submit',
        text: 'Отправить',
      })(class='request-form__footer-submit-button button--primary-alter button--right button--size_l' data-submit-button)
      small.request-form__footer-comment Нажимая на кнопку «Отправить», вы даете #[a.request-form__footer-comment-link(href='#!' target='_blank') согласие на&nbsp;обработку персональных данных]
