mixin review-modal-form
  form.modal-form(action='https://fakestoreapi.com/products' method='post' target='_blank')&attributes(attributes)
    .modal-form__inner
      .modal-form__header
        h2.modal-form__heading.heading.heading--size_s Оставить отзыв
      +star-rating(class='modal-form__rating')
      +text-field({
        name: 'name',
        type: 'text',
        placeholder: 'Имя',
        required: true,
        hidableClearButton: true,
      })(class='modal-form__field text-field--alter text-field--empty')
      +text-field({
        name: 'email',
        type: 'email',
        placeholder: 'E-mail',
        required: true,
        hidableClearButton: true,
      })(class='modal-form__field text-field--alter text-field--empty')
      +text-area({
        name: 'message',
        placeholder: 'Текст вашего отзыва',
        required: true,
      })(class='modal-form__field text-area--empty')
      .modal-form__footer
        +button({
          tag: 'button',
          type: 'submit',
          text: 'Отправить'
        })(class='modal-form__submit-button button--secondary button--right button--size_l' data-submit-button)
        small.modal-form__comment Нажимая на кнопку «Отправить», вы даете #[a.modal-form__comment-link(href='#!') согласие на обработку персональных данных]
