mixin site-navigation
  .site-navigation&attributes(attributes)
    ul.site-navigation__list
      li.site-navigation__item
        a.site-navigation__link(href='#!') Гарантия
      li.site-navigation__item
        a.site-navigation__link(href='#!') Оплата
      li.site-navigation__item
        a.site-navigation__link(href='#!') Доставка
