//- mixin site-navigation
//-   .site-navigation&attributes(attributes)
//-     ul.site-navigation__list
//-       li.site-navigation__item
//-         a.site-navigation__link(href='#!') Гарантия
//-       li.site-navigation__item
//-         a.site-navigation__link(href='#!') Оплата
//-       li.site-navigation__item
//-         a.site-navigation__link(href='#!') Доставка


mixin site-navigation__item({ text, href, page })
  li.site-navigation__item
    a.site-navigation__link(
      class= pageClass === page ? 'site-navigation__link--active' : false
      href= pageClass === page ? false : href
    )&attributes(attributes)= text

mixin site-navigation({ short })
  .site-navigation&attributes(attributes)
    ul.site-navigation__list&attributes(attributes)
      if !short
        +site-navigation__item({ text:'О нас', href: 'company.html', page: 'company-page' })
      if pageClass === 'info-page'
        +site-navigation__item({ text:'Гарантия', href: '#guarantee' })
        +site-navigation__item({ text:'Оплата', href: '#payment' })
        +site-navigation__item({ text:'Доставка', href: '#delivery' })
      else
        +site-navigation__item({ text:'Гарантия', href: 'info.html#guarantee' })
        +site-navigation__item({ text:'Оплата', href: 'info.html#payment' })
        +site-navigation__item({ text:'Доставка', href: 'info.html#delivery' })
      if !short
        if pageClass === 'info-page'
          +site-navigation__item({ text:'Обмен и возврат', href: '#exchange-and-return' })
          +site-navigation__item({ text:'Вопрос-ответ', href: '#faq' })
        else
          +site-navigation__item({ text:'Обмен и возврат', href: 'info.html#exchange-and-return' })
          +site-navigation__item({ text:'Вопрос-ответ', href: 'info.html#faq' })
        +site-navigation__item({ text:'Отзывы', href: 'reviews.html', page: 'reviews-page' })
        +site-navigation__item({ text:'Мои заказы', href: 'account.html', page: 'account-page' })
        +site-navigation__item({ text:'Выкуп машин', href: 'company.html', page: 'company-page' })
        +site-navigation__item({ text:'Контакты', href: 'contacts.html', page: 'contacts-page' })
