mixin site-footer
  footer.site-footer&attributes(attributes)
    .container
      .site-footer__inner
        +contacts-list({ groups: [
          contactsLists.address1,
          contactsLists.address2,
          contactsLists.phonesAll,
          contactsLists.email,
        ]})(class='site-footer__contacts-list contacts-list--size_m contacts-list--theme_light contacts-list--grid_masonry')
        +logo(class='site-footer__logo')
        .site-footer__subscription
          +simple-form({
            heading: 'Подписаться на рассылку:',
            action: 'https://echo.htmlacademy.ru',
            method: 'post',
            field: {
              name: 'email',
              type: 'email',
              placeholder: 'E-mail',
            },
            hidableResetButton: true,
          })
        +socials-list(class='socials-list--alter')
