mixin statistics
  section.statistics&attributes(attributes)
    .container
      .section__inner
        +section-header({
          heading: 'Мы делаем <b class="heading__accent">доступными</b> качественные запчасти в каждом регионе',
          headingTag: 'p',
          badge: 'О нас в цифрах',
          badgeTag: 'h2',
        })
