mixin steps
  section.steps&attributes(attributes)
    .container
      .steps__inner
        +section-header({
          heading: '<b class="heading__accent">3 шага</b> до получения товара',
          text: 'Воспользуйтесь нашей бесплатной консультацией перед покупкой товара, подберем деталь точно под ваш автомобиль',
        })(class='steps__header')
        +steps-list
