mixin text-field({ name, type, value, placeholder, required, hidableClearButton })
  .text-field&attributes(attributes)
    .text-field__inner
      label.text-field__field
        span.text-field__field-inner
          span.text-field__control-wrapper
            span.text-field__placeholder= placeholder
            input.text-field__control(name= name, type= type, value= value, required= !!required)
      .text-field__buttons
        button.text-field__button.text-field__button--clear(class= hidableClearButton && 'text-field__button--hidable' type='button')
          span.visually-hidden Очистить
