extends layout/layout

block variables
  - var title = 'Личный кабинет'
  - var pageClass = 'account-page'

block content
  +breadcrumbs({ links: [
    {
      text: 'Личный кабинет'
    }
  ]})
  +orders({ orders: [] })
