extends layout/layout

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

block content
  +breadcrumbs({ links: [
    {
      text: title
    }
  ]})
  +cart({})
  +map-marker-template(true)

append modals
  +modal(class='modal--position_cover modal--with_map' data-modal='locations')
    +modal-locations
