extends layout/layout

block variables
  - var title = 'Корзина'
  - var pageClass = 'cart-page'

block content
  +breadcrumbs({ links: [
    {
      text: title
    }
  ]})
  +cart({})
  +map-marker-template(true)

append modals
  +modal(class='modal--position_center modal--with_map' data-modal='contacts-map')
    +contacts-modal-map
