extends layout/layout

block variables
  - var title = 'Запчасти для Man F2000 I Evolution / FE'
  - var pageClass = 'catalog-page'

block content
  +breadcrumbs({ links: [
    {
      text: 'Каталог Man',
      href: 'truck-categories.html'
    },
    {
      text: 'Каталог Man F2000',
      href: 'truck-subcategories.html'
    },
    {
      text: title
    }
  ]})
  +catalog({
    filter: {
      modelSelection: false
    },
  })
  +products({ heading: '<b class="heading__accent">Популярные</b> запчасти', products })
  +offer
