extends layout/layout

block variables
  - var title = 'Каталог'
  - var pageClass = 'categories-page'

block content
  +breadcrumbs({ links: [
    {
      text: title
    }
  ]})
  +catalog
  +products({ heading: '<b class="heading__accent">Популярные</b> запчасти', products })
  +offer
