extends layout/layout

block variables
  - var title = 'Карта сайта'
  - var pageClass = 'site-map-page'

block content
  +breadcrumbs({ links: [
    {
      text: 'Карта сайта'
    }
  ]})
  .container
    ol
      li #[a(href='collections.html') Все разборки]
      li #[a(href='collections-empty.html') Все разборки (ничего не найдено)]
      li #[a(href='index.html') Главная]
      li #[a(href='index-not-authorized.html') Главная для не авторизованного (открывается модальное окно, вместо меню)]
      li #[a(href='favorites.html') Избранное]
      li #[a(href='info.html') Информация для клиента]
      li #[a(href='order.html') Заказ оформлен]
      li #[a(href='request.html') Заявка на запчасть]
      li #[a(href='request-images-field-error.html') Заявка на запчасть (с сообщением об ошибке загрузки фото)]
      li #[a(href='categories.html') Каталог (выбор категории)]
      li #[a(href='subcategories.html') Каталог (выбор подкатегории)]
      li #[a(href='truck-categories.html') Каталог (переход с главной "в каталог после выбора марки машины) — выбираем модель]
      li #[a(href='truck-subcategories.html') Каталог (переход с главной "в каталог после выбора марки машины) — выбираем поколение]
      li #[a(href='catalog.html') Каталог (выбрана категория и подкатегория)]
      li #[a(href='catalog-model.html') Каталог (после выбора машины(модели,поколения))]
      li #[a(href='catalog-collection.html') Каталог (переход в каталог запчастей из блока последние разборки)]
      li #[a(href='cart.html') Корзина]
      li #[a(href='cart-empty.html') Корзина (пустая)]
      li #[a(href='contacts.html') Контакты]
      li #[a(href='account.html') Личный кабинет]
      li #[a(href='account-empty.html') Личный кабинет (нет заказов)]
      li #[a(href='company.html') О нас]
      li #[a(href='reviews.html') Отзывы]
      li #[a(href='reviews-empty.html') Отзывы (ничего не найдено)]
      li #[a(href='search.html') Поиск]
      li #[a(href='search-empty.html') Поиск (ничего не найдено)]
      li #[a(href='product.html') Продукт]
      li #[a(href='not-found.html') 404]
      li #[a(href='dev-ui-kit.html') UI Kit]
