extends layout/layout

block variables
  - var title = 'UI Kit'

block content
  style
    .
      .ui-kit__section {
        margin-bottom: 80px;
      }

      .ui-kit__group {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
      }

      .ui-kit__group + .ui-kit__group {
        margin-top: 16px;
      }

  +breadcrumbs({ links: [
    {
      text: 'UI Kit'
    }
  ]})
  .ui-kit.container
    .ui-kit__section
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary-alter button--right button--size_l')
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary-alter button--right button--size_l button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary-alter button--right button--size_l' disabled)
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary-alter button--right button--size_s')
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary-alter button--right button--size_s button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary-alter button--right button--size_s' disabled)
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary button--right button--size_l')
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary button--right button--size_l button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary button--right button--size_l' disabled)
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary button--right button--size_s')
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary button--right button--size_s button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'В каталог'})(class='button--primary button--right button--size_s' disabled)
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'В личный кабинет'})(class='button--secondary button--right button--size_l')
        +button({ tag: 'button', type: 'button', text: 'В личный кабинет'})(class='button--secondary button--right button--size_l button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'В личный кабинет'})(class='button--secondary button--right button--size_l' disabled)
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'В личный кабинет'})(class='button--secondary button--right button--size_m')
        +button({ tag: 'button', type: 'button', text: 'В личный кабинет'})(class='button--secondary button--right button--size_m button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'В личный кабинет'})(class='button--secondary button--right button--size_m' disabled)
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'Смотреть запчасти'})(class='button--secondary button--right button--size_s')
        +button({ tag: 'button', type: 'button', text: 'Смотреть запчасти'})(class='button--secondary button--right button--size_s button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'Смотреть запчасти'})(class='button--secondary button--right button--size_s' disabled)
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'Смотреть ещё'})(class='button--secondary button--down button--size_l')
        +button({ tag: 'button', type: 'button', text: 'Смотреть ещё'})(class='button--secondary button--down button--size_l button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'Смотреть ещё'})(class='button--secondary button--down button--size_l' disabled)
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'Смотреть ещё'})(class='button--secondary button--down button--size_s')
        +button({ tag: 'button', type: 'button', text: 'Смотреть ещё'})(class='button--secondary button--down button--size_s button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'Смотреть ещё'})(class='button--secondary button--down button--size_s' disabled)
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'Подробнее'})(class='button--tertiary button--right button--size_l')
        +button({ tag: 'button', type: 'button', text: 'Подробнее'})(class='button--tertiary button--right button--size_l button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'Подробнее'})(class='button--tertiary button--right button--size_l' disabled)
      .ui-kit__group
        +button({ tag: 'button', type: 'button', text: 'Подробнее'})(class='button--tertiary button--right button--size_s')
        +button({ tag: 'button', type: 'button', text: 'Подробнее'})(class='button--tertiary button--right button--size_s button--pending' disabled)
        +button({ tag: 'button', type: 'button', text: 'Подробнее'})(class='button--tertiary button--right button--size_s' disabled)
      .ui-kit__group
        +button({
          tag: 'a',
          text: 'В каталог',
          href: 'categories.html'
        })(class='button--simple button--left button--size_xs')
        +button({
          tag: 'a',
          text: 'Смотреть запчасти',
          href: 'categories.html'
        })(class='button--simple button--right button--size_xs')
    .ui-kit__section
      .ui-kit__group
        +checker({
          name: 'my-checkbox',
          type: 'checkbox',
          value: '1',
          label: {
            text: 'Чекбокс',
          }
        })
        +checker({
          name: 'my-checkbox',
          type: 'checkbox',
          value: '2',
          disabled: true,
          label: {
            text: 'Чекбокс заблокированный',
          }
        })
      .ui-kit__group
        +checker({
          name: 'my-checkbox',
          type: 'checkbox',
          value: '3',
          label: {
            text: 'Чекбокс тёмный',
          }
        })(class='checker--dark')
        +checker({
          name: 'my-checkbox',
          type: 'checkbox',
          value: '4',
          disabled: true,
          label: {
            text: 'Чекбокс тёмный заблокированный',
          }
        })(class='checker--dark')
      .ui-kit__group
        +checker({
          name: 'my-radio',
          type: 'radio',
          value: '1',
          label: {
            text: 'Радиокнопка',
          }
        })
        +checker({
          name: 'my-radio',
          type: 'radio',
          value: '2',
          disabled: true,
          label: {
            text: 'Радиокнопка заблокированная',
          }
        })
      .ui-kit__group
        +checker({
          name: 'my-radio',
          type: 'radio',
          value: '3',
          label: {
            text: 'Радиокнопка тёмная',
          }
        })(class='checker--dark')
        +checker({
          name: 'my-radio',
          type: 'radio',
          value: '4',
          disabled: true,
          label: {
            text: 'Радиокнопка тёмная заблокированная',
          }
        })(class='checker--dark')
    .ui-kit__section
      .ui-kit__group
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_s image-button--secondary image-button--icon_heart')
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_s image-button--secondary image-button--icon_heart image-button--active')
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_s image-button--secondary image-button--icon_heart image-button--pending' disabled)
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_s image-button--secondary image-button--icon_heart' disabled)
      .ui-kit__group
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_m image-button--secondary image-button--icon_heart')
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_m image-button--secondary image-button--icon_heart image-button--active')
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_m image-button--secondary image-button--icon_heart image-button--pending' disabled)
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_m image-button--secondary image-button--icon_heart' disabled)
      .ui-kit__group
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_xl image-button--secondary image-button--icon_heart')
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_xl image-button--secondary image-button--icon_heart image-button--active')
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_xl image-button--secondary image-button--icon_heart image-button--pending' disabled)
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Избранное'
        })(class='image-button--size_xl image-button--secondary image-button--icon_heart' disabled)
      .ui-kit__group
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Удалить'
        })(class='image-button--size_s image-button--secondary image-button--icon_cross')
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Удалить'
        })(class='image-button--size_s image-button--secondary image-button--icon_cross image-button--pending' disabled)
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'Удалить'
        })(class='image-button--size_s image-button--secondary image-button--icon_cross' disabled)
      .ui-kit__group
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'В корзину'
        })(class='image-button--size_l image-button--primary image-button--icon_cart')
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'В корзину'
        })(class='image-button--size_l image-button--primary image-button--icon_cart image-button--pending' disabled)
        +image-button({
          tag: 'button',
          type: 'button',
          text: 'В корзину'
        })(class='image-button--size_l image-button--primary image-button--icon_cart' disabled)
