extends layout/layout

block variables
  - var title = 'Карта сайта'

block content
  +breadcrumbs({ links: [
    {
      text: 'Карта сайта'
    }
  ]})
  .container
    ol
      li #[a(href='index.html') Главная]
      li #[a(href='favorites.html') Избранное]
      li #[a(href='info.html') Информация для клиента]
      li #[a(href='categories.html') Каталог]
      li #[a(href='truck-categories.html') Каталог (переход с главной "в каталог после выбора марки машины) — выбираем модель]
      li #[a(href='truck-subcategories.html') Каталог (переход с главной "в каталог после выбора марки машины) — выбираем поколение]
      li #[a(href='cart-empty.html') Корзина (пустая)]
      li #[a(href='account.html') Личный кабинет]
      li #[a(href='company.html') О нас]
      li #[a(href='subcategories.html') Подкатегории]
      li #[a(href='product.html') Продукт]
      li #[a(href='not-found.html') 404]
      li #[a(href='dev-ui-kit.html') UI Kit]
