extends layout/layout

block variables
  - var title = 'Карта сайта'

block content
  +breadcrumbs({ links: [
    {
      text: 'Карта сайта'
    }
  ]})
  .container
    ol
      li #[a(href='index.html') Главная]
      li #[a(href='favorites.html') Избранное]
      li #[a(href='cart-empty.html') Корзина (пустая)]
      li #[a(href='cart-empty.html') Личный кабинет]
      li #[a(href='product.html') Продукт]
      li #[a(href='not-found.html') 404]
      li #[a(href='dev-ui-kit.html') UI Kit]
