extends layout/layout

block variables
  - var title = 'Избранное'
  - var pageClass = 'favorites-page'

block content
  +breadcrumbs({ links: [
    {
      text: 'Избранное'
    }
  ]})
  +favorites({ products })
  +offer
