extends layout/layout

block variables
  - var title = 'Truckstar'
  - var pageClass = 'index-page'

block content
  h1.visually-hidden «Truckstar» — Разборка тягачей из Европы
  +banner({ banner: banners.hero})
  +products({ heading: '<b class="heading__accent">Популярные</b> запчасти', products })
  +statistics
  +steps
