extends layout/layout

block variables
  - var title = 'Truckstar'
  - var pageClass = 'index-page'

block content
  h1.visually-hidden «Truckstar» — Разборка тягачей из Европы
  +banner({ banner: banners.hero})
  +products({ heading: '<b class="heading__accent">Популярные</b> запчасти', products })
  +products({ heading: '<b class="heading__accent">Новые</b> поступления', products })
  +categories({ heading: '<b class="heading__accent">Популярные</b> категории', categories: categories.slice(0, 6) })
  +statistics
  +company({
    headingTag: 'p',
    badge: 'О компании',
    badgeTag: 'h2',
    withButton: true,
  })
  +advantages
  +steps
  +faq
  +offer
