extends layout/layout

block variables
  - var title = 'Информация для клиента'
  - var pageClass = 'info-page'

block content
  +breadcrumbs({ links: [
    {
      text: 'Информация для клиента'
    }
  ]})
  +info
  +offer
