extends layout/layout

block variables
  - var title = 'Кронштейн крыла переднего'
  - var pageClass = 'product-page'

block content
  +breadcrumbs({ links: [
    {
      text: 'Man',
      href: '#'
    },
    {
      text: 'F2000',
      href: '#'
    },
    {
      text: 'F2000 II Evolution',
      href: '#'
    },
    {
      text: 'FE',
      href: '#'
    },
    {
      text: title,
    }
  ]})
  +offer
