extends layout/layout

block variables
  - var title = 'Отзывы'
  - var pageClass = 'reviews-page'

block content
  +breadcrumbs({ links: [
    {
      text: title
    }
  ]})
  +reviews({ reviews, ratings })

append modals
  +modal(class='modal--position_center modal--with_form' data-modal='review-form')
    +review-modal-form(class='modal__form')
