extends layout/layout

block variables
  - var title = 'Поиск запчастей'
  - var pageClass = 'search-page'

block content
  +breadcrumbs({ links: [
    {
      text: title
    }
  ]})
  +search({ query: 'вруцвв2ловр2' })
  +offer
