extends layout/layout

block variables
  - var title = 'Двигатель'
  - var pageClass = 'subcategories-page'

block content
  +breadcrumbs({ links: [
    {
      text: 'Каталог',
      href: 'categories.html'
    },
    {
      text: title
    }
  ]})
  +catalog
  +offer
