extends layout/layout

block variables
  - var title = 'Каталог Man'
  - var pageClass = 'truck-categories-page'

block content
  +breadcrumbs({ links: [
    {
      text: title
    }
  ]})
  +catalog
  +offer
