.advantages-list {
  font: 400 14px/17px $main-font-family;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.advantages-list__items {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  row-gap: 8px;

  @media (min-width: $laptop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--grid-column-gap);
  }
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  padding: 16px 24px 24px;
  border-radius: 20px;
  background: var(--background-additional-color);

  @media (min-width: $tablet-width) {
    padding: 16px 32px 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 24px 48px 32px;
    border-radius: 30px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 40px 64px 56px;
  }
}

.advantages-list__heading {
  margin: 0 0 12px;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.01em;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
    font-size: 32px;
    letter-spacing: -1px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 32px;
    font-size: 40px;
  }
}

.advantages-list__text {
  margin: 0;
  color: var(--text-weak-color);
}

.advantages-list__text + .advantages-list__text {
  margin-top: 12px;

  @media (min-width: $desktop-width) {
    margin-top: 24px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: 32px;
  }
}

.advantages-list__icon {
  order: -1;
  align-self: flex-start;
  padding: 10px;
  border-radius: 10px;
  margin: 0 0 24px;
  background: var(--accent-color-10);

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px;
    margin-bottom: 48px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 20px;
    margin-bottom: 64px;
  }
}

.advantages-list__icon-image {
  display: block;
  width: 20px;
  height: 20px;

  @media (min-width: $desktop-width) {
    width: 32px;
    height: 32px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 40px;
    height: 40px;
  }
}
