.badge {
  display: inline-block;
  padding: 3px 7px;
  border: 1px solid currentColor;
  border-radius: 1000px;
  text-align: center;
  font: 400 12px/14px $main-font-family;
  text-transform: lowercase;
  color: var(--text-weak-color);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 7px 11px;
    font-size: 20px;
    line-height: 20px;
  }
}
