.banner-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.banner-slider__image-wrapper {
  display: block;
  height: 560px;
  max-height: 100%;

  @media (min-width: $tablet-width) {
    height: 684px;
  }

  @media (min-width: $wide-desktop-width) {
    height: 960px;
  }
}

.banner-slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
