.cart__heading {
  margin: 0 0 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.cart__form {
  margin: 31px 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 47px;
  }
}
