.close-button {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  color: var(--text-weak-color);
  background: transparent;
  cursor: pointer;
  transition: color $medium-interaction-duration;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: currentColor;
    mask: url("../img/icons.svg#controls_cross");
    transition: transform $little-interaction-duration;
  }

  &:hover {
    color: var(--accent-color);

    &::after {
      will-change: transform;
    }
  }

  &:active {
    color: var(--accent-dark-color);

    &::after {
      transform: scale(0.85);
    }
  }
}
