.map {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  border: 1px solid var(--border-weak-color);
  border-radius: 20px;
  background: var(--border-weak-color);
  overflow: hidden;

  @media (min-width: $tablet-width) {
    border-radius: 30px;
  }

  // &::after {
  //   content: "";
  //   top: 50%;
  //   left: 50%;
  //   position: absolute;
  //   z-index: -1;
  //   width: 60px;
  //   height: 60px;
  //   border: 10px solid var(--border-color-light);
  //   border-radius: 50%;
  //   border-right-color: transparent;
  //   animation: button-spinner 1000ms linear infinite;
  // }
}

.map__inner {
  height: 100%;

  // &--hidden {
  //   visibility: hidden;
  // }
}
