.modal-form {
  padding: 24px;
  border-radius: 30px 30px 0 0;
  font: 500 14px/17px $main-font-family;
  background: var(--background-color);

  @media (min-width: $tablet-width) {
    padding: 32px 56px;
  }

  @media (min-width: $wide-tablet-width) {
    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 64px;
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $wide-desktop-width) {
    padding: 64px 80px;
    font-size: 20px;
    line-height: 24px;
  }
}

.modal-form__header {
  margin: 0 0 12px;

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 32px;
  }
}

.modal-form__heading {
  padding: 0 48px 0 0;
  margin: 0;
}

.modal-form--in-step {
  .modal-form__inner {
    margin-top: 32px;

    @media (min-width: $tablet-width) {
      margin-top: 25px;
    }

    @media (min-width: $wide-desktop-width) {
      margin-top: 32px;
    }
  }

  .modal-form__heading {
    padding-right: 0;
  }
}

.modal-form__header-text {
  margin: 12px 0 0;

  @media (min-width: $desktop-width) {
    margin-top: 8px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: 16px;
  }
}

.modal-form__resend {
  margin: 8px 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: 16px;
  }
}

.modal-form__resend-text {
  display: none;
  margin: 0;
}

.modal-form__resend--waiting {
  .modal-form__resend-text {
    display: block;
  }

  .modal-form__resend-button {
    display: none;
  }
}

.modal-form__rating {
  margin: 0 0 16px;

  @media (min-width: $wide-desktop-width) {
    margin-bottom: 32px;
  }
}

.modal-form__field + .modal-form__field {
  margin-top: 8px;

  @media (min-width: $wide-desktop-width) {
    margin-top: 12px;
  }
}

.modal-form__images-field {
  margin: 12px 0 0;
}

.modal-form__footer {
  margin: 24px 0 0;

  @media (min-width: $desktop-width) {
    margin-top: 32px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: 40px;
  }
}

.modal-form__submit-button {
  width: 100%;
}

.modal-form__comment {
  display: block;
  width: 100%;
  margin: 8px 0 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--text-weak-color);

  @media (min-width: $wide-desktop-width) {
    margin: 12px 0 0;
    font-size: 16px;
    line-height: 19px;
  }
}

.modal-form__comment-link {
  color: inherit;
  transition: color $medium-interaction-duration;

  &:hover {
    color: var(--accent-color);
  }

  &:active {
    color: var(--accent-dark-color);
  }
}

.modal-form__phone-numbers {
  margin: 24px 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: 64px;
  }
}
