.pagination {
  font: 400 14px/1 $main-font-family;

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }
}

.pagination__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;

  @media (min-width: $tablet-width) {
    gap: 12px;
  }
}

.pagination__item {
  &:first-child {
    margin-right: 8px;

    @media (min-width: $tablet-width) {
      margin-right: 12px;
    }
  }

  &:last-child {
    margin-left: 8px;

    @media (min-width: $tablet-width) {
      margin-left: 12px;
    }
  }

  &:nth-child(4) {
    @media (max-width: 374px) {
      display: none;
    }
  }

  &:nth-child(5) {
    @media (max-width: ($tablet-width - 1)) {
      display: none;
    }
  }
}

.pagination__link {
  display: flex;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  background: var(--background-additional-color);
  transition: color $medium-interaction-duration;

  &--current {
    color: var(--text-light-color);
    background: var(--accent-color);
  }

  &[href]:hover,
  &[href]:active {
    color: var(--accent-color);
  }

  &:not([href]) {
    cursor: default;
  }
}

.pagination__link--prev,
.pagination__link--next {
  display: flex;

  &:not([href]) {
    color: var(--text-weak-color);

    @media (max-width: ($desktop-width - 1)) {
      min-width: 32px;
      height: 32px;
    }
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background: currentColor;
    mask: url("../img/icons.svg#controls_arrow");
    transition: transform $little-interaction-duration;

    @media (min-width: $desktop-width) {
      width: 24px;
      height: 24px;
    }
  }

  &[href]:hover::before {
    will-change: transform;
  }

  &[href]:active::before {
    transform: translateX(2px);
  }
}

.pagination__link--prev {
  transform: scaleX(-1);
}
