.pristine-item--invalid.pristine-item--invalid .text-field__inner,
.pristine-item--invalid.pristine-item--invalid .text-area__inner {
  border-color: var(--error-color);
}

.pristine-item__error-text {
  margin: 4px 0 0;
  font-size: 12px;
  line-height: 14px;
  color: var(--error-color);
}
