.process-slider {
  z-index: 0;
  padding-right: var(--edge-indent);
  margin-right: calc(var(--edge-indent) * -1);
}

.process-slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.process-slider__item-image-wrapper {
  display: block;
  border-radius: 10px;
  overflow: hidden;
  aspect-ratio: 860 / 464;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 30px;
  }
}

.process-slider__item-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
