.products-list__items {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 48px 15px;

  @media (min-width: $mobile-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $laptop-width) {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    column-gap: var(--grid-column-gap);
  }

  @media (min-width: $desktop-width) {
    row-gap: 64px;
    grid-template-columns: repeat(auto-fill, minmax(289px, 1fr));
  }

  @media (min-width: 1660px) {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }

  @media (min-width: $wide-desktop-width) {
    row-gap: 80px;
  }
}

.products-list__item {
  display: grid;
}

.products-list__pagination-wrapper {
  display: flex;
  margin: 48px 0 0;
  justify-content: center;

  @media (min-width: $desktop-width) {
    margin-top: 64px;
  }

  @media (min-width: $wide-desktop-width) {
    margin-top: 80px;
  }
}
