.site-header {
  background: var(--background-dark-color);
}

.site-header__logo {
  width: 97px;
  height: 24px;

  @media (min-width: $tablet-width) {
    width: 120px;
    height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 160px;
    height: 38px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 250px;
    height: 60px;
  }
}

.site-header__search-form {
  width: 398px;
  max-width: 100%;

  @media (min-width: $wide-desktop-width) {
    width: 474px;
  }
}
