.site-footer {
  margin: 200px 0 0;
}

.site-footer__logo {
  width: 91px;
  height: 22px;

  @media (min-width: $tablet-width) {
    width: 172px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 246px;
    height: 58px;
  }

  @media (min-width: $wide-desktop-width) {
    width: 287px;
    height: 68px;
  }
}
