.status {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 4px;
  align-items: center;
  font: 400 12px/14px $main-font-family;
  text-transform: lowercase;
  color: var(--text-weak-color);

  @media (min-width: $tablet-width) {
    column-gap: 8px;
    font-size: 14px;
    line-height: 17px;
  }

  &::before {
    content: "";
    grid-area: 1 / 1 / 2 / 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &::after {
    content: "";
    grid-area: 1 / 1 / 2 / 2;
    margin: auto;
    background: var(--text-light-color);
  }
}

.status--size_s {
  @media (min-width: $wide-desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.status--size_m {
  @media (min-width: $wide-desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.status--size_l {
  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $wide-desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.status--in-stock {
  &::before {
    background: var(--success-color);
  }

  &::after {
    width: 14px;
    height: 14px;
    mask: url("../img/icons.svg#controls_checkmark");
  }
}

.status--to-order {
  &::before {
    background: var(--error-color);
  }

  &::after {
    width: 16px;
    height: 16px;
    mask: url("../img/icons.svg#controls_cross");
  }
}
