include data/banners
include data/categories
include data/collections
include data/contacts-lists
include data/links-section
include data/products
include data/ratings
include data/reviews
include data/statistics
