-
  var banners = {
    hero: {
      heading: 'Запчасти для&nbsp;грузовиков по&nbsp;выгодным ценам',
      text: 'Более 5&nbsp;000 запчастей ждут вас в&nbsp;каталоге магазина',
      link: {
        text: 'В каталог',
        href: 'catalog.html'
      },
      images: [ 'hero-1', 'hero-2' ]
    },
  };
