-
  var categories = [
    {
      name: 'Топливная и выпускная системы',
      image: 'img/categories/category-1',
    },
    {
      name: 'Подвеска задняя',
      image: 'img/categories/category-2',
    },
    {
      name: 'Тормозная система',
      image: 'img/categories/category-3',
    },
    {
      name: 'Электрическая система',
      image: 'img/categories/category-4',
    },
    {
      name: 'Система охлаждения',
      image: 'img/categories/category-5',
    },
    {
      name: 'Задний мост',
      image: 'img/categories/category-2',
    },
    {
      name: 'Грузовой кузов',
      image: 'img/categories/category-1',
    },
    {
      name: 'Двигатель',
      image: 'img/categories/category-2',
    },
    {
      name: 'Дополнительное оборудование',
      image: 'img/categories/category-3',
    },
    {
      name: 'Кабина и комплектующие',
      image: 'img/categories/category-4',
    },
    {
      name: 'Передний мост',
      image: 'img/categories/category-5',
    },
    {
      name: 'Контрольные приборы',
      image: 'img/categories/category-2',
    },
    {
      name: 'Карданный вал',
      image: 'img/categories/category-4',
    },
    {
      name: 'Сцепление',
      image: 'img/categories/category-5',
    },
    {
      name: 'Контрольные приборы',
      image: 'img/categories/category-2',
    },
  ];

  var truckCategories = [
    {
      name: 'Man 1-Serie',
      image: 'img/trucks/man-2',
    },
    {
      name: 'Man F2000',
      image: 'img/trucks/man-3',
    },
    {
      name: 'Man F90',
      image: 'img/trucks/man-2',
    },
    {
      name: 'Man TGE',
      image: 'img/trucks/man-3',
    },
    {
      name: 'Man L2000',
      image: 'img/trucks/man-2',
    },
    {
      name: 'Man TGL',
      image: 'img/trucks/man-3',
    },
    {
      name: 'Man TGA',
      image: 'img/trucks/man-2',
    },
    {
      name: 'Man TGM',
      image: 'img/trucks/man-3',
    },
    {
      name: 'Man TGS',
      image: 'img/trucks/man-2',
    },
    {
      name: 'Man TGX',
      image: 'img/trucks/man-3',
    },
  ];

  var truckSubcategories = [
    {
      name: 'F2000 I',
      image: 'img/trucks/man-2',
    },
    {
      name: 'F2000 I Evolution&nbsp;/&nbsp;FE',
      image: 'img/trucks/man-3',
    },
  ];
