-
  var collections = [
    {
      name: 'Man TGX II 2017 г.',
      image: 'img/collections/collection-1',
    },
    {
      name: 'Man TGX II 2017 г.',
      image: 'img/collections/collection-2',
    },
    {
      name: 'Man TGX II 2017 г.',
      image: 'img/collections/collection-3',
    },
    {
      name: 'Man TGX II 2017 г.',
      image: 'img/collections/collection-4',
    },
    {
      name: 'Man TGX II 2017 г.',
      image: 'img/collections/collection-3',
    },
    {
      name: 'Man TGX II 2017 г.',
      image: 'img/collections/collection-4',
    },
    {
      name: 'Man TGX II 2017 г.',
      image: 'img/collections/collection-1',
    },
    {
      name: 'Man TGX II 2017 г.',
      image: 'img/collections/collection-2',
    },
  ];
