-
  var contactsListGroupHeading = {
    phone: 'Телефон',
    email: 'Почта',
    address: 'Адрес',
    schedule: 'График работы',
  };

-
  var contactsLists = {
    phonesAll: {
      type: 'phone',
      items: [
        {
          text: '+7 (987) 548-50-78 (Рязань)',
          href: 'tel:+79875485078'
        },
        {
          text: '+7 (909) 296-44-79 (Рязань)',
          href: 'tel:+79092964479'
        },
        {
          text: '+7 (996) 564-50-29 (Нижний Новгород)',
          href: 'tel:+79965645029'
        },
        {
          text: '+7 (905) 869-23-57 (Нижний Новгород)',
          href: 'tel:+79058692357'
        },
      ]
    },
    phones1: {
      type: 'phone',
      items: [
        {
          text: '+7 (996) 564-50-29 (Нижний Новгород)',
          href: 'tel:+79965645029'
        },
        {
          text: '+7 (905) 869-23-57 (Нижний Новгород)',
          href: 'tel:+79058692357'
        },
      ]
    },
    phones2: {
      type: 'phone',
      items: [
        {
          text: '+7 (987) 548-50-78 (Рязань)',
          href: 'tel:+79875485078'
        },
        {
          text: '+7 (909) 296-44-79 (Рязань)',
          href: 'tel:+79092964479'
        },
      ]
    },
    email: {
      type: 'email',
      items: [
        {
          text: 'truckstar@gmail.com',
          href: 'mailto:truckstar@gmail.com'
        },
      ]
    },
    address1: {
      type: 'address',
      items: [
        {
          text: 'Нижегородская область, городской округ Дзержинск, посёлок Гнилицкие Дворики, 17с1'
        },
      ]
    },
    address2: {
      type: 'address',
      items: [
        {
          text: 'Рязань, ул. Новоселковская, д. 11'
        },
      ]
    },
    schedule: {
      type: 'schedule',
      items: [
        {
          text: 'Пн-Пт: 09.00-18.00.'
        },
        {
          text: 'Сб-Вс:	выходной'
        }
      ]
    }
  };
