-
  var trucksLinksSection = {
    heading: 'Подходит для машин:',
    groups: [
      {
        heading: 'Man',
        links: [
          {
            text: '<span class="links-section__link-accent-text">F2000 I</span> <span class="links-section__link-weak-text">(с 1994 по 1998)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">F2000 II Evolution / FE</span> <span class="links-section__link-weak-text">(с 1998 по 2001)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">TGA</span> <span class="links-section__link-weak-text">(с 2000 по 2007)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">TGS I</span> <span class="links-section__link-weak-text">(с 2007)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">TGS II</span> <span class="links-section__link-weak-text">(с 2012)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">TGX I</span> <span class="links-section__link-weak-text">(с 2007)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">TGX II</span> <span class="links-section__link-weak-text">(с 2012)</span>'
          },
        ]
      },
      {
        heading: 'Daf',
        links: [
          {
            text: '<span class="links-section__link-accent-text">F2000 I</span> <span class="links-section__link-weak-text">(с 1994 по 1998)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">F2000 II Evolution / FE</span> <span class="links-section__link-weak-text">(с 1998 по 2001)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">TGA</span> <span class="links-section__link-weak-text">(с 2000 по 2007)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">TGS I</span> <span class="links-section__link-weak-text">(с 2007)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">TGS II</span> <span class="links-section__link-weak-text">(с 2012)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">TGX I</span> <span class="links-section__link-weak-text">(с 2007)</span>'
          },
          {
            text: '<span class="links-section__link-accent-text">TGX II</span> <span class="links-section__link-weak-text">(с 2012)</span>'
          },
        ]
      }
    ]
  };
