-
  var products = [
    {
      name: 'Картер заднего моста',
      price: '6 000',
      condition: 'new',
      description: 'Man 189138736 (2014-2017)',
      status: 'in-stock',
      image: 'img/products/1.webp',
      image2x: 'img/products/1@2x.webp',
      favorite: true,
    },
    {
      name: 'Картер заднего моста',
      price: '6 000',
      condition: 'used',
      description: 'Man 189138736 (2014-2017)',
      status: 'to-order',
      image: 'img/products/2.webp',
      image2x: 'img/products/2@2x.webp',
    },
    {
      name: 'Картер заднего моста',
      price: '6 000',
      condition: 'used',
      description: 'Man 189138736 (2014-2017)',
      status: 'in-stock',
      image: 'img/products/3.webp',
      image2x: 'img/products/3@2x.webp',
      favorite: true,
    },
    {
      name: 'Картер заднего моста',
      price: '6 000',
      condition: 'new',
      description: 'Man 189138736 (2014-2017)',
      status: 'in-stock',
      image: 'img/products/4.webp',
      image2x: 'img/products/4@2x.webp',
    },
    {
      name: 'Картер заднего моста',
      price: '6 000',
      condition: 'new',
      description: 'Man 189138736 (2014-2017)',
      status: 'in-stock',
      image: 'img/products/1.webp',
      image2x: 'img/products/1@2x.webp',
    },
    {
      name: 'Картер заднего моста',
      price: '6 000',
      condition: 'used',
      description: 'Man 189138736 (2014-2017)',
      status: 'to-order',
      image: 'img/products/2.webp',
      image2x: 'img/products/2@2x.webp',
    },
    {
      name: 'Картер заднего моста',
      price: '6 000',
      condition: 'new',
      description: 'Man 189138736 (2014-2017)',
      status: 'in-stock',
      image: 'img/products/3.webp',
      image2x: 'img/products/3@2x.webp',
      favorite: true,
    },
    {
      name: 'Картер заднего моста',
      price: '6 000',
      condition: 'new',
      description: 'Man 189138736 (2014-2017)',
      status: 'in-stock',
      image: 'img/products/4.webp',
      image2x: 'img/products/4@2x.webp',
      favorite: true,
    },
  ];
