-
  var ratings = [
    {
      logo: {
        image: 'img/sites/yandex.svg',
        width: '80',
        height: '26',
        alt: 'Яндекс.'
      },
      value: 4.8,
      reviews: 6,
      href: '#!'
    },
    {
      logo: {
        image: 'img/sites/google.svg',
        width: '80',
        height: '26',
        alt: 'Google.'
      },
      value: 4.8,
      reviews: 6,
      href: '#!'
    },
  ];
