-
  var statistics = {
    company: [
      {
        key: '5 000+',
        value: 'Наименований новых<br> и б/у запчастей в наличии на нашем складе'
      },
      {
        key: '8',
        value: 'лет на рынке'
      },
      {
        key: '1 000 000+',
        value: 'запчастей приобретают ежегодно'
      },
      {
        key: '180',
        value: 'категорий автозапчастей'
      }
    ]
  }
