:root {
  --text-color: #121212;
  --text-weak-color: #8e8e8e;
  --text-weak-light-color: #bfbfbf;
  --text-weak-dark-color: #5b5b5b;
  --text-light-color: #ffffff;
  --background-color: #ffffff;
  --background-dark-color: #121212;
  --background-additional-color: #f8f8f8;
  --background-additional-dark-color: #f1f1f1;
  --background-additional-color-80: rgba(248, 248, 248, 0.8);
  --accent-color: #f70f31;
  --accent-color-10: rgba(247, 15, 49, 0.1);
  --accent-dark-color: #e30b2a;
  --error-color: #f70f31;
  --success-color: #2fa961;
  --special-color-1: #2199fc;
  --special-color-2: #fd852b;
  --edge-indent: 16px;
  --grid-column-gap: 15px;
  --developer-color: #ffe457;
  --border-weak-color: #e3e3e3;
  --overlay-color: rgba(0, 0, 0, 0.2);

  @media (min-width: $tablet-width) {
    --edge-indent: 24px;
    --grid-column-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    --edge-indent: 50px;
    --grid-column-gap: 30px;
  }

  @media (min-width: $wide-desktop-width) {
    --edge-indent: 80px;
    --grid-column-gap: 40px;
  }
}

button {
  color: #0000ff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  appearance: none;
}
