// Viewports
$mobile-width: 375px;
$tablet-width: 768px;
$wide-tablet-width: 1024px;
$laptop-width: 1280px;
$desktop-width: 1366px;
$wide-desktop-width: 1920px;

// Fonts
$main-font-family: "Inter", "Arial", sans-serif;

// Sizes
$centerer-max-width: 1760px;
$browser-scrollbar-width: 20px;

// Timings
$little-interaction-duration: 200ms;
$small-animation-duration: 300ms;
$medium-interaction-duration: 400ms;
$long-interaction-duration: 1000ms;
$folds-animation-duration: 300ms;
$modal-animation-duration: 500ms; // Соответствует MODAL_ANIMATION_DURATION в const.js
