include blocks/badge
include blocks/banner
include blocks/banner-slider
include blocks/breadcrumbs
include blocks/breadcrumbs-list
include blocks/button
include blocks/cart
include blocks/contacts-list
include blocks/favorites
include blocks/logo
include blocks/message
include blocks/order
include blocks/orders
include blocks/orders-list
include blocks/placeholder
include blocks/product-card
include blocks/products
include blocks/products-list
include blocks/section-header
include blocks/site-footer
include blocks/site-header
include blocks/slider-arrows
include blocks/statistics
include blocks/steps
