include blocks/badge
include blocks/logo
include blocks/products
include blocks/section-header
include blocks/site-footer
include blocks/site-header
include blocks/slider-arrows
include blocks/statistics
include blocks/steps
