include blocks/advantages
include blocks/advantages-list
include blocks/alert
include blocks/back
include blocks/badge
include blocks/banner
include blocks/banner-slider
include blocks/brands
include blocks/breadcrumbs
include blocks/breadcrumbs-list
include blocks/button
include blocks/callback
include blocks/callback-modal-form
include blocks/cart
include blocks/cart-form
include blocks/cart-item
include blocks/catalog
include blocks/catalog-filter
include blocks/catalog-navigation
include blocks/catalog-shortcuts
include blocks/categories
include blocks/categories-list
include blocks/category-card
include blocks/checker
include blocks/checker-cards
include blocks/close-button
include blocks/collection-card
include blocks/collections
include blocks/collections-list
include blocks/collections-set
include blocks/company
include blocks/contacts
include blocks/contacts-card
include blocks/contacts-list
include blocks/counter
include blocks/delivery-document
include blocks/developer
include blocks/dropdown
include blocks/favorites
include blocks/faq
include blocks/faq-list
include blocks/guarantee-document
include blocks/image-button
include blocks/info
include blocks/links-section
include blocks/location
include blocks/locations
include blocks/logo
include blocks/main-heading
include blocks/map
include blocks/map-marker-template
include blocks/menu
include blocks/message
include blocks/modal
include blocks/modal-locations
include blocks/offer
include blocks/order
include blocks/order-card
include blocks/order-item
include blocks/order-result
include blocks/orders
include blocks/orders-list
include blocks/page-navigation
include blocks/pagination
include blocks/payment-document
include blocks/phone-numbers
include blocks/photo-slider
include blocks/placeholder
include blocks/placeholder-mini
include blocks/policy-document
include blocks/process
include blocks/process-slider
include blocks/product
include blocks/product-card
include blocks/products
include blocks/products-list
include blocks/products-slider
include blocks/rating
include blocks/rating-checkers
include blocks/ratings
include blocks/ratings-list
include blocks/request
include blocks/request-form
include blocks/review
include blocks/review-modal-form
include blocks/reviews
include blocks/reviews-filter
include blocks/reviews-list
include blocks/search
include blocks/section-header
include blocks/shortcuts
include blocks/simple-form
include blocks/site-footer
include blocks/site-header
include blocks/site-navigation
include blocks/slider-arrows
include blocks/socials-list
include blocks/star-rating
include blocks/statistics
include blocks/statistics-list
include blocks/steps
include blocks/steps-list
include blocks/text-area
include blocks/text-field
include blocks/variants
